/* Apply styling to global elements */
body {
    background-image: url('https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-01/fvv_s4vuakyp6aruzw63pq5t59ie.png?itok=DZxVKvBs');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    overflow: hidden;
  }
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* Dropdown menu styling */
.dropdown-menu {
    max-height: 500px;
    overflow-y: scroll;
  }

/* Add spacing to the player stats container */
#player-stats {
    background-color: #f5f5f5;
    border-radius: .5rem;
    max-height: 80vh;
    max-width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#player-stats::-webkit-scrollbar {
    display: none;
}
/* Style the cards */
#player-stats h5 {
    font-weight: bolder;
    font-size: 1em;
    margin: 10% 0;
    text-align: center;
    overflow: auto;
}
#player-stats  p {
    font-size: .8em;
}
.card{
    width: 80%;
}
.cardTitle {
    font-weight: bolder;
    font-size: 1.1em;
    margin: 0;
}
.cardText{
    font-size: .8em;
}

/* Style the conatiner and title of the recent games table */
#recent-stats {
    background-color: #f5f5f5;
    border-radius: .5rem;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#recent-stats::-webkit-scrollbar {
    display: none;
}
#recent-stats h5 {
    margin: 2% 0;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
}

/* Style the tables */
table::-webkit-scrollbar {
    display: none;
}
table {
    border-collapse: collapse;
    width: 95%;
    max-height: 95%;
    margin: 0 auto 2% auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
th {
    background-color: #F2F2F2;
    color: #333;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    font-size: .9em;
    border-top: 2px solid #C1C1C1;
    border-bottom: 2px solid #C1C1C1;
}
th:first-child, td:first-child {
    border-right: 1px solid #C1C1C1; /* Apply vertical separator only to the first column */
}
td {
    position: relative; /* Add relative positioning */
    padding: 10px;
    font-weight: 300;
    text-align: center;
    font-size: .75em;
    border-top: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    color: #333; /* Add color for table data */
}
tr:nth-child(even) {
    background-color: #F9F9F9;
} 
tr:nth-child(odd) {
    background-color: #FFFFFF;
}
/* Hover effect */
tr:hover td {
    background-color: #E0E0E0;
}
  

@media screen and (max-width: 992px) {
    /* Style the player and recent games containers */
    #player-stats {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    #recent-stats {
        max-height: 50vh;
        max-width: 100%;
    }

    /* Style the title of the cards */
    #player-stats h5 {
        text-align: center;
        margin: 1% 0;
        width: 100%;
    }
    /* Style the player cards */
    .card {
        flex: 0 0 20%; /* Set the width of each card to 20% */
        margin: 0; /* Reset margin */
    }
    .card img{ 
        width: 30%;
    }
    .card h5 {
        font-size: .9em;
    }
    .card p {
        font-size: .8em;
        margin: 0 10%;
    }

    /* Style the tables */
    table {
        margin: 0 2%;
    }
    th {
        font-size: 0.9em;
    }
    td {
        font-size: 0.75em;
    }
    td:first-child {
        border-right: none;
    }
    th:first-child, td:first-child {
        border-right: 1px solid #C1C1C1; /* Apply vertical separator only to the first column */
    }
}

@media screen and (max-width: 786px) {
    .card p {
        margin: 0 5%;
        font-size: 0.85em;
    }
    th:first-child, td:first-child {
        border-right: 1px solid #C1C1C1; /* Apply vertical separator only to the first column */
    }
}

@media screen and (max-width: 576px) { 
    /* Style the title of the cards */
    #player-stats {
        display: none;
    }
    #recent-stats {
        max-height: 80vh;
        max-width: 100%;
    }

    /* Style the tables */
    #recent-stats h3 {
        font-size: 1em;
    }
    th {
        font-size: 0.7em;
    }
    td {
        font-size: 0.6em;
    }
    th:first-child, td:first-child {
        border-right: 1px solid #C1C1C1; /* Apply vertical separator only to the first column */
    }
}